<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Assests/img/bx-current-location.svg">
    <title>Document</title>
</head>
<body>
    <h1>LAS 7 MARAVILLAS DEL MUNDO</h1>

    <ol>
        <li>La Gran Muralla China</li>
        <img name="Beach" src="../Assests/img/wall.jpg" height="600">
        <li>Petra (Jordania)</li>
        <img name="Beach" src="../Assests/img/jordania.jpg" height="600">
        <li>Coliseo Romano (Italia)</li>
        <img name="Beach" src="../Assests/img/coliseo.jpg" height="600">
        <li>Chichen Itza (México)</li>
        <img name="Beach" src="../Assests/img/itza.jpg" height="600">
        <li>Machu Picchu (Perú)</li>
        <img name="Beach" src="../Assests/img/machu.jpg" height="600">
        <li>Cristo Redentor (Brasil)</li>
        <img name="Beach" src="../Assests/img/cristo.jpg" height="600">
        <li>Taj Mahal (India)</li>
        <img name="Beach" src="../Assests/img/taj.jpg" height="600">
        <li><a href="./messi.html" target="_blank">Lionel Messi</a></li>
    </ol>

    <table border="1">
        <caption> Visitantes por año</caption>
        <tr> 
            <th>País</th>
            <th colspan="2">Maravilla</th>
            <th>Número de visitantes por año</th>
        </tr>
        <tr> 
            <td>China</td>
            <td colspan="2">Gran Muralla</td>
            <td>10 millones</td>

        </tr>
        <tr> 
            <td>Jordania</td>
            <td colspan="2">Petra</td>
            <td>900 mil</td>
        </tr>
        <tr> 
            <td>Italia</td>
            <td colspan="2">Coliseo Romano</td>
            <td>6 millones</td>
        </tr>

        <tr> 
            <td>México</td>
            <td colspan="2">Chichen Itza</td>
            <td>2.5 millones</td>
        </tr>
        <tr> 
            <td>Brasil</td>
            <td colspan="2">Machu Picchu</td>
            <td> 2 millones </td>
        </tr>

        <tr> 
            <td>India</td>
            <td colspan="2">Taj Mahal</td>
            <td> 8 millones </td>
        </tr>

        <tr> 
            <td>Argentina</td>
            <td colspan="2">Lionel Messi</td>
            <td> 1.5 billones</td>
        </tr>                
    </table> 
      
</body>
</html>