<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Camila Nahuel" content="width=device-width, initial-scale=1.0">
    <title>Horario</title>
</head>
<body>
    <table border="1">
        <caption>Horario semanal</caption>

        <tr>
            <th>Hora</th> 
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
        </tr>

        <tr>
            <td>7:00 am - 8:00 am</td> 
            <td rowspan="2">Geometría Computacional</td>
            <td rowspan="2">MASD 2</td>
            <td rowspan="2">Geometría Computacional</td>
            <td rowspan="2">MASD 2</td>
            <td rowspan="2">Geometría Computacional</td>
        </tr>
        <tr>
            <td>8:00 am - 9:00 am</td> 
        </tr>

        <tr>
            <td>9:00 am - 10:00 am</td> 
            <td rowspan="2"></td>
            <td rowspan="2">Señales</td>
            <td rowspan="2">Comida</td>
            <td rowspan="2">Señales</td>
            <td rowspan="2"></td>
        </tr>

        <tr>
            <td>10:00 am - 11:00 am</td> 
        </tr>

        <tr>
            <td>11:00 am - 12:00 am</td> 
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td rowspan="2">Desarrollo Web</td>
            <td rowspan="2"></td>
            <td rowspan="2">Desarrollo Web</td>
        </tr>

        <tr>
            <td>12:00 am - 1:00 pm</td> 
        </tr>

        <tr>
            <td>1:00 pm - 2:00 pm</td> 
            <td rowspan="3">Análisis Numérico</td>
            <td rowspan="2">AAD</td>
            <td></td>
            <td rowspan="2">AAD</td>
            <td rowspan="5"></td>
        </tr>

        <tr>
            <td>2:00 pm - 3:00 pm</td> 
            <td rowspan="2">Análisis Numérico</td>
        </tr>

        <tr>
            <td>3:00 om - 4:00 pm</td> 
            <td rowspan="3"></td>
            <td rowspan="3"></td>
        </tr>

        <tr>
            <td>4:00 pm - 5:00 pm</td> 
            <td rowspan="2">Computacón en la Nube</td>
            <td rowspan="2">Computacón en la Nube</td>
        </tr>
        </tr>

        <tr>
            <td>5:00 pm - 6:00 pm</td> 
        </tr>
    </table>
</body>
</html>