<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Camila Nahuel" content="width=device-width, initial-scale=1.0">
    <title>Messi</title>
</head>
<body>
    <h1>Lionel Messi</h1>
    <h3>También conocido como 'La Pulga', 'The Goat' o 'El Messias' </h3>
    <img name="Beach" src="./Assests/img/messi.jpg" height="600" alt="no hay imagen por retraso uwuw">
    <p>Nacido en el año 1987 en Rosario, Argentina es un delantero y capitan en el club Inter Miami de la MLS y del equipo nacional argentino</p>
    <img name="Beach" src="./Assests/img/argentina.jpg" height="600" alt="no hay imagen por retraso uwuw">
    <h3>Los 43 Títulos de Lionel Messi</h3>
    <p>En Barcelona FC</p>
    <ul>
        <li>10 Ligas de España</li>
        <li>7 Copas del Rey</li>
        <li>7 Super copas de España</li>
        <li>4 Champions Leagues</li>
        <li>3 Mundiales de Clubes</li>
        <li>3 Copas de Europa</li>
    </ul>

    <p>Con Argentina</p>
    <ul>
        <li>1 Mundial sub-20 </li>
        <li>1 medalla en juegos olimpicos de Pekín</li>
        <li>1 Copa América</li>
        <li>1 Finalissima</li>
        <li>1 Copa del mundo</li>
    </ul>

    <p>Con PSG</p>
    <ul>
        <li>2 Ligue 1</li>
        <li>1 Super Copa de Francia</li>
    </ul>

    <p>Con Inter Miami</p>
    <ul>
        <li>1 Leagues Cup</li>
    </ul>

</body>
</html>