<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Divs</title>
    <link rel="stylesheet" type="text/css" href="../Assests/css/stylesdiv.css">
</head>
<body>
    <h1>My page</h1>
    <h1 id="l">My page</h1>
    <div class="uwu">
        <p> 
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea iusto placeat ab. Nemo dolore nihil asperiores, qui laudantium commodi numquam officia esse. Voluptatem tempore incidunt assumenda laudantium, vel amet accusantium!
        </p>
        <p class="azul"> 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis voluptatibus veniam quod fugit magni ad eligendi distinctio explicabo quo temporibus tempore quidem, exercitationem aliquam omnis ab laboriosam dolores voluptas mollitia?
        </p>
        <p class="amarillo"> 
            <span class="homero">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span> Incidunt, explicabo tempore? Veritatis unde officiis nemo earum molestiae vel in ipsum facilis error itaque corrupti voluptatibus, ea inventore laboriosam, quos totam!
        </p>
    </div>
</body>
</html>