<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Camila Nahuel" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Assests/img/bxs-edit-alt.svg">
    <link rel="stylesheet" type="text/css" href="../Assests/css/styles.css">
    <title>Quiz</title>
</head>
<body>
    <table border="2">
        <caption>Quiz</caption>
        <tr style="border: 3px solid black">
            <th>L</th> 
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cosa</th>
            <th>Color</th>
            <th>Ciudad</th>
            <th>Atributo HTML</th>
            <th>Total</th>
        </tr>

        <tr>
            <td>V</td>
            <td>Valentina</td>
            <td>Varon</td>
            <td><img name="vaca" src="../Assests/img/vaca.jpg" height="80"></td>
            <td bgcolor="green"></td>
            <td>venecia</td>
            <td><em><u>value</u></em></td>
            <td><b>1</b></td>
        </tr>
        <tr>
            <td>D</td>
            <td>Daniela</td>
            <td>Dominguez</td>
            <td><img name="dodo" src="../Assests/img/dodo.jpg" height="80"></td> 
            <td bgcolor="#FFD700"></td><!--dorado -->
            <td>dallas</td>
            <td><em><u>dir</u></em></td>
            <td><b>1</b></td>
        </tr>
        <tr>
            <td>U</td>
            <td>Umberto</td>
            <td>Uribe</td>
            <td><img name="uva" src="../Assests/img/uva.jpg" height="80"></td>
            <td bgcolor="#20214f"></td> <!-- color uva -->
            <td>uzbekistan</td>
            <td><em><u>u</u></em></td>
            <td><b>1</b></td>
        </tr>

        <tr>
            <td>X</td>
            <td>Ximena</td>
            <td>Xeneize</td>
            <td><img name="zoom" src="../Assests/img/xiaomi.jpg" height="80"></td>
            <td bgcolor="#EEED09"></td> <!-- color xanthic -->
            <td>xalapa</td>
            <td><em><u>xml</u></em></td>
            <td><b>1</b></td>
        </tr>

        <tr>
            <td>R</td>
            <td>Roberto</td>
            <td>Robertson</td>
            <td><img name="robot" src="../Assests/img/robot.jpg" height="80"></td>
            <td bgcolor="pink"></td> <!-- color rosado -->
            <td>roma</td>
            <td><em><u>rel</u></em></td>
            <td><b>1</b></td>
        </tr>
        
    </table>
</body>
</html>