body{
    border: 100;
}

/* bosteros*/
.title{
    font-style: initial;
    text-align: center;
}

.icoo{
    width: 80px;
    border: 7px solid white;
    float: left;
    margin-right: 20px;
    border-radius: 20%;
    margin-top: 15px;
}
.pictures{
    width:500px;
    margin-left:350px;
    margin-right: 350px;
    margin-top:100px;
}
p{
    color:black;
}
#tt{
    color:black;

}

.navbar-custom {
    background-color: lightblue;
    font-family: 'Montserrat', sans-serif;
}

/* Messi */

.card-costum{
    background-color: lightyellow;
}

.btn-custom{
    background-color: lightblue!important;
}

#titulos{
    padding: 100px;
}

#titulos h3{
    text-align: center;
}

#form h5{
    text-align: center;
}
#form{
    padding: 100px;
}

.table-costum{
    background-color: lightblue;
    border-style: dashed;
}